@page "/fetchdata"
@using BlogShared
@inject HttpClient Http
@inject BlogProto.BlogProtoClient Grpc

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (blogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in blogs.BlogsData)
            {
                <tr>
                    <td>@blog.Url</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Blogs blogs;

    protected override async Task OnInitializedAsync()
    {
        blogs = Grpc.GetBlogs(new Google.Protobuf.WellKnownTypes.Empty());
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
